###############################################################################
# Set default behavior to automatically normalize line endings.
###############################################################################
* text=auto

###############################################################################
# Uncomment if you use .cs files and need specific diff settings
#*.cs     diff=csharp

###############################################################################
# Ignore merge settings for project files, if not using Visual Studio project files
###############################################################################
#*.sln       merge=binary
#*.vcxproj   merge=binary

###############################################################################
# Ignore image and document diffing unless needed
###############################################################################
#*.jpg   binary
#*.png   binary
#*.gif   binary

#*.doc   diff=astextplain
#*.docx  diff=astextplain
#*.pdf   diff=astextplain
